{% extends '../base.html' %}

{% block extra_js %}

    <script>
        window.pageName = "phrase_info";
        window.context = {{ page_context|safe }};
        window.context["selectTargetWordURL"] = "{% url 'select_target_word' %}";
        window.context["phraseInfoURL"] = "{% url 'phrase_info' %}";
        window.context["similarContextInfoURL"] = "{% url 'similar-context-info' %}";
        window.context["similarMeaningInfoURL"] = "{% url 'similar-meaning-info' %}";
        window.context["similarMeaningWordNetInfo"] = "{% url 'similar-meaning-wordnet-info' %}";
        window.context["sameSoundInfoURL"] = "{% url 'same-sound-info' %}";
        window.context["logoutURL"] = "{% url 'logout' %}";
        window.context["updateUserOptionsURL"] = "{% url 'update-user-options' %}";
    </script>
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=zrH91OHa"></script>

{% endblock extra_js %}